*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary);
}

:root{
  --primary: #f0f8ff;
  --secondary: #292e39;
  --terciary: #2e3440;
  --:k#434c5e;
  --:s#4c566a;
  --button:#598f9e;
}

/*---------- HEADER ----------*/

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary);
  height: 70px;
  position: fixed;
  width: 100%;
}

a{
  text-decoration: none;
  color: var(--primary);
  letter-spacing: .2rem;/*da espaço entre as letras*/
  
}

.navList{
  display: flex;
  justify-content: space-around;
}

li{
  list-style: none;
  margin: 10px 30px;
}

.mobileMenu{
  display: none;
}

@media (max-width: 800px){
  body{
    overflow-x: hidden;
  } 
  .navList{
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .navList li{
    margin-left: 0;
    opacity: 0;
  }
  .mobileMenu{
    display: block;
  }
}

.navList.active{
  transform: translateX(0);
  top: 70px;
  width: 300px;
  height: 500px;
  right: 0;
  transition: transform 0.9s ease-in;
  background: var(--secondary);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translate(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  } 
}

.mobileMenu.active .line1{
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobileMenu.active .line2{
  opacity: 0;
}

.mobileMenu.active .line3{
  transform: rotate(45deg) translate(-5px, -7px);
}

.mobileMenu{
  /* display: none; */
  cursor: pointer;
}

.mobileMenu div{
  width:32px;
  height: 2px;
  background-color: var(--primary);
  margin: 8px;
  transition: 0.3s;
}

.navList{
  list-style: none;
  display: flex;
}

.navList li{
  letter-spacing: 3px;
  margin-left: 32px;
}

/*---------- MAIN ----------*/

/*---------- SECTION/INICIO ----------*/

main{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section{
  
}

body{
  background-color: var(--terciary);
}

.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.box-one{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:var(--primary);
  padding: 100px 0px;
  width: 100%;
  
}

.name{
  font-size: 50px;
  font-weight: 100;
}

.box-two{
  color:var(--primary);
  letter-spacing: .1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  text-align: center;
}

.box-two p{
  margin: auto;
  width: 800px;
  line-height: 1.5rem;
}

.botons{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.botons-left, .boton-rigth{
  background-color: var(--button);
  width: 150px;
  height: 35px;
  border-radius: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio-rigth img{
  border-radius: 100%;
}

@media(max-width:840px){
  .container{
    overflow: hidden;
  }
  .box-one{
    display: flex;
    flex-direction: column-reverse;
  }
  
  .box-two p{
    margin: 15px;
    width: 100%; 
  }
}
/*---------- SECTION/PROJETOS ----------*/

.jobs{
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.card-jobs{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}



/*---------- SECTION/CONTATO ----------*/